* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  height: 25px;
}

body::-webkit-scrollbar-track {
  background-color: #afafaf30;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
body::-webkit-scrollbar-thumb {
  background-color: #afafaf;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

body {
  background-color: rgb(71, 67, 80);
}
a {
  text-decoration: none;
  color: white;
}
::-webkit-scrollbar {
  height: 45px;
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: #afafaf30;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb {
  background-color: #afafaf;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(71, 67, 80);
  height: 125px;
}

/* début nav burger */
#site-menu {
  position: fixed;
  z-index: 5;
}
#site-menu li,
#site-menu p {
  padding: 10px;
  margin: 0px;
  color: rgb(82, 78, 138);
  text-decoration: none;
  text-transform: none;
  list-style: none;
  display: none;
  text-align: center;
  transition: all 0.5s;
}

#site-menu p:hover {
  display: block;
  color: #5bc1e8;
  transition: all 0.5s;
  font-weight: bold;
}

/* hides toggle handler */
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  display: none;
}

/* menu button & animation */
.menu-button {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 100;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.line {
  position: relative;
  left: 25%;
  width: 50%;
  height: 3px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.line:nth-child(1) {
  top: 35%;
}

.line:nth-child(2) {
  top: 45%;
}

.line:nth-child(3) {
  top: 55%;
}

/* animate background of lines */
.menu-button:hover .line::after {
  transform: translateX(0);
}

.menu-button .line::after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: rgb(82, 78, 138, 1);
  transform: translateX(100%);
  transition: all 0.25s ease;
}

#menu-toggle:checked + .menu-button .line::after {
  background: rgb(rgb(82, 78, 138, 1));
}

#menu-toggle:checked + .menu-button {
  transform: rotate(180deg);
  transition: transform 0.2s ease;
}

#menu-toggle:checked + #menu-button .line:nth-child(1) {
  transform: translateY(5px) rotate(45deg); /*45deg*/
}

#menu-toggle:checked + #menu-button .line:nth-child(2) {
  transform: scaleX(0);
  opacity: 0;
}

#menu-toggle:checked + #menu-button .line:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg); /* -45deg*/
}

/* animate menu in */
#menu-toggle:checked + #menu-button + #site-menu {
  animation: menu-open 2s ease both;
}

#menu-toggle:checked + #menu-button + #site-menu .co,
#site-menu p {
  display: block;
  animation: menu-txt-open 2.5s ease both;
}

#site-menu {
  position: fixed;
  width: 0px;
  height: 100vh;
  right: 0px;
  top: 0px;
  margin: 0px;
  padding: 0px;
  background-color: rgb(71, 67, 80);
  /* animation: menu-closed 0.3s both; */

  transition: 0.2s;
}

#site-menu-titles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@keyframes menu-open {
  100% {
    width: 100vw;
    height: 100vh;
  }
}
@keyframes menu-closed {
  0% {
    width: 100vw;
    height: 100vh;
  }
}
@keyframes menu-txt-open {
  0%,
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* fin nav burger */

/* Barre de recherche */

form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

form:hover {
  width: 300px;
  cursor: pointer;
}

form:hover input {
  display: block;
}

form:hover .fa {
  background: #07051a;
  color: white;
}
/* Fin barre de recherche */

/* language */
.language img {
  height: 25px;
  width: 25px;
}

.headerdroite {
  z-index: 1;
  position: absolute;
  padding-top: 20px;
  margin-left: 900px;
}
.language {
  position: absolute;
  padding-top: 70px;
  margin-left: 900px;
}
/* fin language */
main {
  display: flex;
  flex-direction: column;
}
/* Carousel */

.carousel-caption h2 {
  color: black;
}

.carousel {
  color: #fff;
  overflow: hidden;
  position: relative;
}

.carousel-item {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 0.6s ease-in-out;
  width: 100%;
}

.carousel-active:checked + .carousel-item {
  opacity: 1;
  pointer-events: auto;
  position: static;
}

.carousel-item img {
  display: block;
  height: auto;
  width: 100%;
}

.carousel-controls {
  height: 100%;
  width: 100%;
}

.carousel-control {
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 28px;
  height: 100%;
  line-height: 40px;
  text-align: center;
  transition: 0.1s ease-in-out;
  width: 50%;
  z-index: 2;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
}

.carousel-control.prev {
  float: left;
}

.carousel-control.next {
  float: right;
}

.carousel-caption {
  bottom: 15%;
  font-size: 120%;
  left: 20%;
  opacity: 0;
  right: 20%;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: opacity 0.1s ease-out;
  z-index: 2;
}

.carousel-active:checked + .carousel-item .carousel-caption {
  transition: opacity 0.6s ease-in;
  opacity: 1;
}

.carousel-indicators {
  bottom: 5%;
  left: 5%;
  list-style: none;
  margin: 0;
  padding: 0;
  right: 5%;
  text-align: center;
  z-index: 2;
}

.carousel-indicators li {
  display: inline-block;
}

.carousel-indicator {
  border-radius: 50%;
  cursor: pointer;
  display: block;
  font-size: 28px;
  line-height: 1;
  padding: 5px 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: 0.1s ease-in-out;
}

.carousel-indicator:hover {
  background: rgba(0, 0, 0, 0.8);
}

/* If you`re needing more than 3 banners, maybe you might be using another way to represent your info... ;-) */
#carousel-1:checked
  ~ .carousel-indicators
  .carousel-indicator[for="carousel-1"],
#carousel-2:checked
  ~ .carousel-indicators
  .carousel-indicator[for="carousel-2"],
#carousel-3:checked
  ~ .carousel-indicators
  .carousel-indicator[for="carousel-3"] {
  color: #007f7f;
}

@media (min-width: 768px) {
  .carousel-indicators {
    background: transparent;
  }
  .carousel-control {
    width: 5%;
  }
  .carousel-controls,
  .carousel-caption,
  .carousel-indicators {
    position: absolute;
  }
}
/*fin du carousel  */

/* typecat */
.typecat {
  margin-top: 35px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* fin typecat */

/* catégorie */
.categorie {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}

.cat {
  width: 20%;
  text-align: center;
  flex-flow: nowrap row;
  margin-right: 10px;
  background-color: white;
  border-radius: 20px;
}

.cat:hover {
  background-color: rgb(82, 78, 138);
}

.cat:focus {
  background-color: rgb(82, 78, 138);
}

/* Fin catégorie */

/* affiche et info */
.conteneur,
.conteneur2 {
  width: 1000px;
  margin-bottom: 20px;
  overflow: scroll;
  overflow-y: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
}
.conteneur::-webkit-scrollbar {
  height: 25px;
}

.conteneur::-webkit-scrollbar-track {
  background-color: #afafaf30;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
.conteneur::-webkit-scrollbar-thumb {
  background-color: #afafaf;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
.conteneur2::-webkit-scrollbar {
  height: 25px;
}

.conteneur2::-webkit-scrollbar-track {
  background-color: #afafaf30;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
.conteneur2::-webkit-scrollbar-thumb {
  background-color: #afafaf;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.content {
  min-height: 500px;
  letter-spacing: 1px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}
.content a {
  padding-top: 10px;
  display: flex;
  align-items: center;
}
.content a img {
  padding: 5px;
}
.content a:hover,
img:hover {
  color: rgb(82, 78, 138);
}

.btncontent {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.btnvoirplus {
  background-color: white;
  border-radius: 20px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 25px;
}
.btnvoirplus a {
  color: black;
}

.barresep {
  width: 1200px;
  height: 5px;
  background-color: white;
  border: white 1px solid;
  border-radius: 100px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 35px;
}
/* fin affiche et info */

/* footer début */
.fa-facebook {
  color: blue;
}
.fa-twitter {
  color: aqua;
}
.fa-instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.reseaux a {
  padding: 10px;
}
.reseaux p {
  color: white;
}

.barre {
  margin-bottom: 10px;
  width: 200px;
  border-bottom: white 1px solid;
}

.logofooter {
  margin-right: 15%;
}

.logofooter img {
  display: flex;
}

/* fin footer */

.borderinfo {
  border: 2px solid black;
  max-width: 200px;
}
