/* smartphone */
@media (max-width: 500px) {
  header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .logo {
    margin-right: 50px;
  }

  .language {
    margin: 0px;
  }
  .headerdroite {
    margin: 0px;
  }

  .categorie {
    width: 400px;
    overflow: scroll;
  }
  .categorie::-webkit-scrollbar {
    height: 25px;
  }

  .categorie::-webkit-scrollbar-track {
    background-color: #afafaf30;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  .categorie::-webkit-scrollbar-thumb {
    background-color: #afafaf;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  .conteneur,
  .conteneur2 {
    overflow: scroll;
    width: 400px;
  }

  .barresep {
    width: 400px;
  }
}

/* ------------SMARTPHONE PORTRAIT OU TABLETTE ----------------------- 501PX A 767PX --------------------- */
@media (min-width: 501px) and (max-width: 767px) {
  .headerdroite {
    z-index: 1;
    position: absolute;
    padding-top: 20px;
    margin-left: 775px;
    margin: 0px;
  }
  .language {
    position: absolute;
    padding-top: 70px;
    margin-left: 775px;
    margin: 0px;
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.logo {
  margin-right: 200px;
}

.categorie {
  width: 100%;
  overflow: scroll;
  overflow-y: hidden;
}
.categorie::-webkit-scrollbar {
  height: 25px;
}

.categorie::-webkit-scrollbar-track {
  background-color: #afafaf30;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
.categorie::-webkit-scrollbar-thumb {
  background-color: #afafaf;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.conteneur,
.conteneur2 {
  overflow: scroll;
  overflow-y: hidden;
  width: 100%;
}

.barresep {
  width: 700px;
}

.btncontent {
  justify-content: center;
}
.btnvoirplus {
  margin-right: 0px;
}
